@use '../../../global-styling/Variables.scss' as v;

.admin-toolbar-container {
    display: flex;
    position: relative;
    // width: 100%;
    align-items: center;
    justify-content: end;
    gap: 15px;
    transition: 0.2s;

    &__dropdown {
        list-style: none;
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-radius: 5px;
        top: 30px;
        background-color: v.$white;
        box-shadow: v.$drop-shadow;
        align-items: center;

        li {
            text-align: center;
            width: 100%;
            padding: 5px 20px;
        }

        li:hover {
            background-color: v.$offwhite;
        }
    }

    &__tool {
        display: flex;
        align-items: center;
        gap: 5px;
        cursor: pointer;
        padding: 5px;

        &__move {
            background-image: url('../../../content/gfx/Icons/move-icon.svg');
            height: 16px;
            width: 16px;
        }

        &__merge {
            background-image: url('../../../content/gfx/Icons/merge-icon.svg');
            height: 16px;
            width: 16px;
        }

        &__delete {
            background-image: url('../../../content/gfx/Icons/delete-icon.svg');
            height: 16px;
            width: 16px;
        }
    }

    &__tool:hover {
        transition: 0.2s;
        transform: scale(1.02);
        background-color: v.$white;
        box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.1);
        border-radius: 5px;

    }
}